  * {
            background-color: rgb(14, 13, 13);
            color: white;
        }
        .glow:hover {
            text-shadow: 0 0 3px white;
            transition: text-shadow 0.5s ease; 
        }
        .align {
            margin-left: 100px;
            margin-right: 100px;
        }

        .shiyas {
            text-align: center;
        }
        .profileimg {
            width: 300px;
            display: inline;
            border: 3px solid rgb(245, 245, 245);
            border-radius: 30px;
            transition: 1s;
            transition-timing-function: ease;
        }
        .profileimg:hover {
            width: 350px;
        }