/* Universal */
body {
    background-color: rgb(14, 12, 12);
    color: white;
}

@media (max-width: 768px) {
    /* Projects */
    .projects {
        /* text-align: justify; */
        background-color: rgb(62, 63, 63);
        border-top: 1px solid rgb(116, 110, 110);
        border-bottom: 1px solid rgb(117, 110, 110);
    }
    .texts {
        
    }
    .P-img {
        width: 300px;
    }
}


/* Medium to larger devices */
@media (min-width: 768px) { 
    header {
    text-align: left;
    padding: 10px; 
}
/* Projects */
.projects {
    /* text-align: justify; */
    background-color: rgb(62, 63, 63);
    border-top: 1px solid rgb(116, 110, 110);
    border-bottom: 1px solid rgb(117, 110, 110);
}
.P-img {
    width: 100px;
}
}